{% extends 'base.html' %}
{% block content %}
<h1>Welcome to the Smart Home Control Panel</h1>
{% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}!</p>
    <ul>
        {% for light in lights %}
            <li>{{ light.name }}: {% if light.is_on %}On{% else %}Off{% endif %}
                <a href="{% url 'toggle_light' light.id %}">Toggle</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>You need to <a href="{% url 'login' %}">log in</a> to control your devices.</p>
{% endif %}
{% endblock %}
